@charset "ISO-8859-1";
*{
     margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
   max-width: 600px;
    margin: 0 auto;
    text-align: center;
 }
h1{
    color: floralwhite;
    font-size: 300%;
  font-family:cursive;
    margin-bottom: 25px;
 }
.btn{
 border-radius: 9px;
    color: azure;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
.btn:hover{
    border: solid #725835 3px;
}